<div class="container text-center">
<h1><%= @cocktail.name %></h1>
<ul class="list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> <%= dose.ingredient.name %>
      <br>
      <%= link_to 'Delete', dose_path(dose), method: :delete %>
    </li>
    <% end %>
</ul>
<%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Delete Drink', cocktail_path(@cocktail), method: :delete %>
</div>
